.footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 0;

  .footerContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
  }

  .footerContainerWrapper {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }

  .footerLink {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease 0s;
    font-size: 1rem;
    font-weight: 700;
  }
}
