.main {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0rem;
  align-items: center;
  justify-content: center;

  h1 {
    padding: 2rem;
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
  }
  h4 {
    padding: 2rem;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  h5 {
    padding: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  @media (max-width: 768px) {
    padding: 1rem; // Adjust padding for tablets and smaller screens
  }

  @media (max-width: 480px) {
    padding: 0.5rem; // Adjust padding for mobile phones
    h1 {
      font-size: 3rem; // Adjust font size for mobile phones
    }
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.productCard {
  padding: 2em 1em 1em;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-radius: 0.5rem;

  border: 0.5rem solid transparent;
  transition: border 300ms ease-in-out, padding 300ms ease-in-out;
  align-items: center;

  .buttons {
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: 1em; // Adjust padding for tablets and smaller screens
  }

  @media (max-width: 480px) {
    padding: 0.5em; // Adjust padding for mobile phones
  }
}

.productCard:hover {
  border: 0.5rem solid #797979;
}

.productCard > :first-child {
  margin-top: 0;
}

.productCard > :last-child {
  margin-bottom: 0;
}

.productImage {
  box-shadow: 0 0 8px 4px rgba(196, 143, 143, 0.3);

  img {
    width: 100%;
    height: 100%;
  }
}

.productInfo {
  margin-top: auto;
  font-size: 2rem;
  padding-top: 1.25rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.5rem; // Adjust font size for tablets and smaller screens
  }

  @media (max-width: 480px) {
    font-size: 1rem; // Adjust font size for mobile phones
  }
}

.productLink {
  border-radius: 0.5rem;
}

// .main {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 2rem 0rem;
//   align-items: center;
//   justify-content: center;

//   h1 {
//     padding: 2rem;
//     font-weight: 600;
//     font-size: 4rem;
//     text-align: center;
//     color: #ffffff;
//   }
// }

// .products {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   gap: 0.5rem;
// }
// .productCard {
//   padding: 2em 1em 1em;
//   box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
//     0 5px 15px 0 rgba(0, 0, 0, 0.08);
//   background-color: #ffffff;
//   border-radius: 0.5rem;

//   border: 0.5rem solid transparent;
//   transition: border 300ms ease-in-out, padding 300ms ease-in-out;
//   align-items: center;
//   .buttons {
//     display: flex;
//     align-items: center;
//   }
// }

// .productCard:hover {
//   border: 0.5rem solid #797979;
// }

// .productCard > :first-child {
//   margin-top: 0;
// }

// .productCard > :last-child {
//   margin-bottom: 0;
// }
// .productImage {
//   box-shadow: 0 0 8px 4px rgba(196, 143, 143, 0.3);
//   img {
//     width: 100%;
//     height: 100%;
//   }
// }
// .productInfo {
//   margin-top: auto;
//   font-size: 2rem;
//   padding-top: 1.25rem;
//   text-align: center;
// }
// .productLink {
//   border-radius: 0.5rem;
// }
