.photos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.background {
  background: url(../../../app/public/images/coffeebackground.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1000px;
}

.aside {
  display: flex-box;
  align-items: center;
  justify-content: center;
}
